[submodule "Plugins/FastNoise"]
	path = Plugins/FastNoise
	url = git@github.com:ArtemIyX/FastNoiseUnreal.git
[submodule "Plugins/RealtimeMesh"]
	path = Plugins/RealtimeMesh
	url = git@github.com:ArtemIyX/RealtimeMeshUnreal.git
[submodule "Plugins/ProceduralWorld"]
	path = Plugins/ProceduralWorld
	url = git@github.com:ArtemIyX/ProceduralWorldUnreal.git
[submodule "Plugins/DataSerializer"]
	path = Plugins/DataSerializer
	url = git@github.com:ArtemIyX/DataSerializerUnreal.git
[submodule "Plugins/EasySettings"]
	path = Plugins/EasySettings
	url = git@github.com:ArtemIyX/EasySettingsUnreal.git
[submodule "Plugins/AdvancedAsset"]
	path = Plugins/AdvancedAsset
	url = git@github.com:ArtemIyX/AdvancedAssetUnreal.git
[submodule "Plugins/BlueprintCompile"]
	path = Plugins/BlueprintCompile
	url = https://github.com/ArtemIyX/BlueprintCompileUnreal
